.container {
    display: flex;
    justify-content: space-around;
}

.main-nav {
    display: flex;
}

.main-nav ul div {
    display: flex;
}

.main-nav li,
.main-nav a {
    display: flex;
}

.site-title {
    font-size: 2em;
}

.main-nav a {
    font-size: 1.2em;
    padding: 0 1em;
    text-decoration: none;
}

.main-nav a:hover, .site-title a:hover {
    text-decoration: underline;
    color: #04ffcd;
}

.logo {
    width: 300px;
}

