.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 10em auto;
    max-width: 65vw;
}

.scores h1 {
    font-size: 3em;
    color: #04ffcd;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 2em;
}

.scores h2 {
    font-size: 2em;
    color: #d44179;
    text-shadow: 1px 1px 2px black;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}